<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LSAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LSAnalyzer.Properties.Settings>
            <setting name="lastDataFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="lastResultOutFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="numberRecentSubsettingExpressions" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="recentSubsettingExpressions" serializeAs="String">
                <value />
            </setting>
            <setting name="numberRecentFiles" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="recentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="showLabelsDefault" serializeAs="String">
                <value>True</value>
            </setting>
        </LSAnalyzer.Properties.Settings>
    </userSettings>
</configuration>