<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<ComponentGroup Id="LSAnalyzerComponents" Directory="INSTALLFOLDER">
			<Component Id="LSAnalyzer" Bitness="always64">
				<File Id="LSAnalyzer.exe"
					  Source="$(var.LSAnalyzer.ProjectDir)bin\Release\net8.0-windows10.0.22621.0\publish\win-x64\LSAnalyzer.exe"
					  KeyPath="true" />
				<File Id="favicon.ico"
					  Source="$(var.LSAnalyzer.ProjectDir)app.ico" />
				<RemoveFile Id="ALLFILES" Name="*.*" On="both" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
